<script type="x-shader/x-vertex" id="vertexshader">
    attribute float size;
    attribute float alpha;
    varying float vAlpha;

    void main() {
        vAlpha = alpha;
        vec4 mvPosition = modelViewMatrix * vec4(position, 1.0);
        gl_PointSize = 1000.0 * size / length(mvPosition.xyz);
        gl_Position = projectionMatrix * mvPosition;
    }
</script>

<script type="x-shader/x-fragment" id="fragmentshader">
    uniform sampler2D texture;
    uniform vec3 color;
    varying float vAlpha;

    void main() {
        vec4 outColor = texture2D(texture, gl_PointCoord);
        gl_FragColor = outColor * vec4(color, vAlpha);
    }
</script>